<%- include('navbar') %>

    <main class="container mx-auto mt-8">
        <!-- Subjects -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Subjects Management</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <!-- Content -->
                    <details>
                        <summary>View All</summary>
                        <div class="bg-white rounded-lg shadow-md p-4 mb-4 flex gap-2 flex-wrap justify-center">
                            <% Array.from(groupedSubjects).forEach(([semesterId, subjectsMap])=> { %>
                                <div class="bg-white rounded-lg shadow-md w-fit max-w-64 mb-4">
                                    <h2 class="bg-blue-500 text-xl rounded-t-lg font-bold text-white p-2 mb-2">
                                        Semester <%= semesterId %>
                                    </h2>
                                    <div class="p-2">
                                        <ul>
                                            <% Object.values(subjectsMap).forEach(subject=> { %>
                                                <li class="text-gray-600 mb-2">
                                                    - <%= subject.subjectName %> - <%= subject.subjectCode %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </details>
                </div>
                <div class="md:w-1/2 md:pl-4">
                    <!-- Form -->
                    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                        <form id="subject-form">
                            <div class="mb-4">
                                <div class="flex gap-2 justify-between">
                                    <div class="w-full">
                                        <label class="block text-gray-700 text-sm font-bold mb-2"
                                            for="subjectName">Subject Name</label>
                                        <input type="text" id="subjectName" name="subjectName"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            placeholder="Enter subject name" />
                                    </div>
                                    <div class="w-full">
                                        <label class="block text-gray-700 text-sm font-bold mb-2"
                                            for="subjectCode">Subject Code</label>
                                        <input type="text" id="subjectCode" name="subjectCode"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            placeholder="Enter subject code" />
                                    </div>
                                </div>
                                <div class="mb-4 w-full">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="semesterId">Select
                                        Semester</label>
                                    <select id="semesterId" name="semesterId"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 outline-blue-500">
                                        <option value="" selected hidden disabled>Select semester</option>
                                        <option value="1">Semester 1</option>
                                        <option value="2">Semester 2</option>
                                        <option value="3">Semester 3</option>
                                        <option value="4">Semester 4</option>
                                        <option value="5">Semester 5</option>
                                        <option value="6">Semester 6</option>
                                        <!-- Add more options for other semesters -->
                                    </select>
                                </div>
                                <!-- Add other form fields here -->
                                <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                    Add Subject
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Faculty Management -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Faculty Management</h2>
            </div>

            <div class="md:flex md:items-start">
                <!-- Faculty Cards -->
                <div class="md:w-1/2 md:pr-4 flex flex-wrap justify-center items-center">
                    <% for( let i=0; i < faculty.length ; i++ ) { %>
                        <div class="w-fit rounded-lg m-2 ">
                            <div
                                class="flex max-w-64 relative overflow-hidden shadow-lg rounded-lg hover:border hover:border-blue-500">
                                <div class="bg-blue-500 p-2 flex justify-center items-center">
                                    <img class="w-16 h-16 rounded-full object-contain border-4 border-white"
                                        src="<%= faculty[i].image_link %>" alt="Faculty Name">
                                </div>
                                <div class="bg-white p-2 flex flex-col items-center">
                                    <div class="text-lg font-bold text-black mb-2 text-center text-wrap	">
                                        <%= faculty[i].faculty_name %>
                                    </div>
                                    <span>
                                        <%= faculty[i].faculty_designation %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="md:w-1/2 md:pr-4">
                    <!-- Form for Adding Faculty -->
                    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                        <form id="faculty-form" class=" md:flex-row md:items-center md:justify-between">
                            <div class="flex gap-2 justify-between">
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="facultyName">Faculty Name</label>
                                    <input type="text" id="facultyName" name="name"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="Enter faculty name" />
                                </div>
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="designation">Designation</label>
                                    <input type="text" id="designation" name="designation"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="Enter designation" />
                                </div>
                            </div>
                            <div class="flex gap-2 justify-between">
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="facultyImage">Upload Image</label>
                                    <input type="file" id="facultyImage" name="fileItem" accept="image/*"
                                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                                </div>
                            </div>
                            <button type="submit"
                                class="flex-grow bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add
                                Faculty</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Events -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Event Management</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <!-- Existing Syllabus cards -->
                </div>
                <div class="md:w-1/2 md:pr-4">
                    <!-- Form -->
                </div>
            </div>
        </div>

        <!-- Syllabus -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Syllabus Management</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <div class="flex gap-2 justify-center items-center flex-wrap">
                        <% for( let i=0; i < syllabus.length; i++ ) { %>
                            <div class="bg-white hover:border hover:border-blue-500 rounded-lg shadow overflow-hidden w-fit">
                                <div class="p-2">
                                    <h3 class="text-lg font-bold text-gray-800">
                                        Sem - <%= syllabus[i].semester_id %>
                                    </h3>
                                    <p class="text-gray-600">
                                        <%= syllabus[i].syllabus_title %>
                                    </p>
                                    <a target="_blank" href="<%= syllabus[i].pdf_link %>"
                                        class="inline-block mt-2 bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600">View</a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4">
                    <!-- Form to Add Syllabus -->
                    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                        <form id="syllabus-form">
                            <div class="flex justify-between gap-2">
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title</label>
                                    <input type="text" id="title" name="title"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="Enter title" />
                                </div>
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="pdfFile">PDF File</label>
                                    <input type="file" id="pdfFile" name="fileItem" accept="application/pdf"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="semester">Semester</label>
                                <select id="semester" name="semesterId"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 outline-blue-500">
                                    <option value="" selected disabled>Select semester</option>
                                    <option value="1">Semester 1</option>
                                    <option value="2">Semester 2</option>
                                    <option value="3">Semester 3</option>
                                    <option value="4">Semester 4</option>
                                    <option value="5">Semester 5</option>
                                    <option value="6">Semester 6</option>
                                    <!-- Add more options for other semesters -->
                                </select>
                            </div>
                            <!-- Add other form fields here -->
                            <button type="submit"
                                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add
                                Syllabus</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Academic Calendars -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Academic Calendar</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <div class="flex gap-2 justify-center items-center flex-wrap">
                        <!-- Sample Calendar Entry -->
                        <% for( let i=0; i < calendar.length; i++ ) { %>
                            <div
                                class="bg-white shadow rounded-lg p-4 transition duration-300 hover:shadow-lg hover:border hover:border-blue-500 max-w-64">
                                <h3 class="text-md font-medium text-gray-900">
                                    <%= calendar[i].calendar_title %>
                                </h3>
                                <p class="mt-1 text-sm text-gray-600"><%=
                                        calendar[i].academic_year%> academic year.</p>
                                <a download target="_blank" href="<%= calendar[i].pdf_link %>"
                                    class="mt-2 inline-block bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600">View</a>
                            </div>
                            <% } %>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4">
                    <!-- Form to Add Academic Calendar -->
                    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                        <form id="academic-calendar-form">
                            <div class="flex justify-between gap-2">
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title</label>
                                    <input type="text" id="title" name="title"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="Enter title" />
                                </div>
                                
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="year">Session</label>
                                    <input type="text" id="year" name="year"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="EX: 2023 - 2024" />
                                </div>
                                
                            </div>
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="pdfFile">PDF File</label>
                                    <input type="file" id="pdfFile" name="fileItem" accept="application/pdf"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                                </div>
                            <!-- Add other form fields here -->
                            <button type="submit"
                                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add
                                Academic Calendar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lab Manual -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Lab Manuals</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <!-- Existing Syllabus cards -->
                </div>
                <div class="md:w-1/2 md:pr-4">
                    <!-- Form -->
                </div>
            </div>
        </div>

        <!-- Photo Gallery -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Photo Gallery</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <!-- Gallery Cards -->
                    <div class="flex gap-2 justify-center items-center flex-wrap">
                        <% for( let i=0; i < photos.length; i++ ) { %>
                            <div class="bg-white rounded-lg shadow-lg overflow-hidden max-w-36">
                                <img src="<%= photos[i].image_link %>" alt="Image" class="w-full h-36 object-contain rounded-md" />
                                <div class="p-1 border rounded">
                                    <h2 class="text-lg font-semibold text-gray-800">
                                        <%= photos[i].image_title %>
                                    </h2>
                                </div>
                            </div>
                        <% } %>
                    </div>
                            <!-- End Gallery Cards -->
                </div>
                <div class="md:w-1/2 md:pr-4">
                    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                        <form id="gallery-form" class=" md:flex-row md:items-center md:justify-between">
                            <div class="flex gap-2 justify-between">
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="imageName">Image Title</label>
                                    <input type="text" id="imageName" name="title"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="Enter image name" />
                                </div>
                                <div class="flex gap-2 justify-between">
                                    <div class="mb-4 flex-grow">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="facultyImage">Upload Image</label>
                                        <input type="file" id="facultyImage" name="fileItem" accept="image/*"
                                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit"
                                class="flex-grow bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add
                                Image</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Examination Gallery -->
        <div class="px-2 py-4 m-2 w-auto shadow rounded-md">
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                <h2 class="text-3xl font-bold text-blue-500">Examination</h2>
            </div>
            <div class="md:flex md:items-start">
                <div class="md:w-1/2 md:pr-4">
                    <div>
                        <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                            <h2 class="text-3xl font-bold text-blue-500">
                                End Semester Question Papers
                            </h2>
                        </div>
                        <div class="flex gap-2 justify-center items-center flex-wrap">
                            <!-- Repeat for each end-semester paper -->
                        
                            <!-- Loop through each semester in the grouped data -->
                            <% groupedQuestionData.forEach((subjects, semesterId)=> { %>
                                <div class="bg-white rounded-lg shadow p-1 hover:shadow-lg transition-shadow max-w-72 mb-4">
                                    <!-- Display semester name -->
                                    <h3 class="text-lg font-bold text-gray-800">
                                        Semester <%= semesterId %>
                                    </h3>
                        
                                    <!-- Loop through each subject in the semester -->
                                    <ol class="ml-4">
                                        <% Object.values(subjects).forEach(subject=> { %>
                                            <!-- Display subject name -->
                                            <li class="font-medium text-gray-800">
                                                - <%= subject.subjectName %> (<%= subject.subjectCode %>)
                                            </li>
                        
                                            <!-- Loop through each paper in the subject -->
                                            <ul class="ml-4">
                                                <% subject.papers.forEach(paper=> { %>
                                                    <!-- Display paper title and download link -->
                                                    <li class="text-gray-600 my-1">
                                                        - <a href="<%= paper.pdfLink %>"
                                                                class="underline inline-block text-blue text-sm px-2 py-1 rounded ml-2"><%= paper.paperTitle %> </a>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                            <% }) %>
                                    </ol>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <div>
                        <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                            <h2 class="text-3xl font-bold text-blue-500">Model Answer Papers</h2>
                        </div>
                        <div class="flex gap-2 justify-center items-center flex-wrap ">
                            <!-- Repeat for each model answer paper -->
                            <!-- Loop through each semester in the grouped data -->
                            <% groupedModelData.forEach((subjects, semesterId)=> { %>
                                <div class="w-fit bg-white rounded-lg shadow p-1 hover:shadow-lg transition-shadow max-w-72 mb-4">
                                    <!-- Display semester name -->
                                    <h3 class="text-lg font-bold text-gray-800">
                                        Semester <%= semesterId %>
                                    </h3>
                        
                                    <!-- Loop through each subject in the semester -->
                                    <ol class="ml-4">
                                        <% Object.values(subjects).forEach(subject=> { %>
                                            <!-- Display subject name -->
                                            <li class="font-medium text-gray-800">
                                                - <%= subject.subjectName %> (<%= subject.subjectCode %>)
                                            </li>
                        
                                            <!-- Loop through each paper in the subject -->
                                            <ul class="ml-4">
                                                <% subject.papers.forEach(paper=> { %>
                                                    <!-- Display paper title and download link -->
                                                    <li class="text-gray-600 my-1">
                                                        - <a href="<%= paper.pdfLink %>"
                                                                class="underline inline-block text-blue text-sm px-1 py-1 rounded ml-2"><%= paper.paperTitle %> </a>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                            <% }) %>
                                    </ol>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <div>
                        <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
                            <h2 class="text-3xl font-bold text-blue-500">Sessional Papers</h2>
                        </div>
                        <div class="flex gap-2 justify-center items-center flex-wrap">
                            <!-- Repeat for each sessional paper -->
                            <!-- Loop through each semester in the grouped data -->
                            <% groupedSessionalData.forEach((subjects, semesterId)=> { %>
                                <div class="bg-white rounded-lg shadow p-1 hover:shadow-lg transition-shadow max-w-72 mb-4">
                                    <!-- Display semester name -->
                                    <h3 class="text-lg font-bold text-gray-800">
                                        Semester <%= semesterId %>
                                    </h3>
                        
                                    <!-- Loop through each subject in the semester -->
                                    <ol class="ml-4">
                                        <% Object.values(subjects).forEach(subject=> { %>
                                            <!-- Display subject name -->
                                            <li class="font-medium text-gray-800">
                                                - <%= subject.subjectName %> (<%= subject.subjectCode %>)
                                            </li>
                        
                                            <!-- Loop through each paper in the subject -->
                                            <ul class="ml-4">
                                                <% subject.papers.forEach(paper=> { %>
                                                    <!-- Display paper title and download link -->
                                                    <li class="text-gray-600 my-1">
                                                        - <a href="<%= paper.pdfLink %>"
                                                                class="underline inline-block text-blue text-sm px-2 py-1 rounded ml-2"><%= paper.paperTitle %> </a>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                            <% }) %>
                                    </ol>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 md:pr-4">
                    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                        <form id="paeprs-form" class=" md:flex-row md:items-center md:justify-between">
                            <div class="flex gap-2 justify-between">
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="Title">Paper Title</label>
                                    <input type="text" id="Title" name="title" required
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        placeholder="EX: MAD Summer 2023" />
                                </div>
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="paperType">Type</label>
                                    <select id="paperType" name="paperType"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 outline-blue-500" required>
                                        <option value="" selected disabled>Select Type</option>
                                        <option value="question">End Sem Question Paper</option>
                                        <option value="model">Model Answer</option>
                                        <option value="sessional">Sessional</option>
                                        <!-- Add more options for other semesters -->
                                    </select>
                                </div>

                            </div>
                            <div class="flex gap-2 justify-between">
                                <!-- Subjects dropdown -->
                                <div class="mb-4 flex-grow">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="subject">Subject</label>
                                    <select id="subjectId" name="subjectId"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 outline-blue-500" required>
                                        <option value="" selected disabled>Select Subject</option>
                                        
                                        <% for( let i = 0; i < subjects.length; i++ ) { %>
                                            <option value="<%= subjects[i].subject_id %>"><%= subjects[i].subject_code %>: <%= subjects[i].subject_name %></option>
                                        <% } %>
                                        <!-- Add more options for other semesters -->
                                    </select>
                                </div>
                                <div class="flex gap-2 justify-between">
                                    <div class="mb-4 flex-grow">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="pdfFile">PDF File</label>
                                        <input type="file" id="pdfFile" name="fileItem" accept="application/pdf"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            required />
                                    </div>
                                </div>
                            </div>
                            
                            <button type="submit"
                                class="flex-grow bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Paper</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script>
        $(document).ready(function () {
            // Function to handle form submission
            $('#subject-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                let confirmOption = confirm("Are you sure to submit?");
                if (!confirmOption) return;

                // Get form data
                const formData = {
                    subjectName: $('#subjectName').val(),
                    subjectCode: $('#subjectCode').val(),
                    semesterId: $('#semesterId').val()
                };

                // Make AJAX request
                $.ajax({
                    url: '/api/subject',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        alert(data.message);
                        if (data.success) {
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding subject:', error);
                        // Optionally, you can display an error message to the user
                    }
                });
            });


            // Faculty form

             $('#faculty-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                let confirmOption = confirm("Are you sure to submit?");
                 if (!confirmOption) return;

                // Get form data
                const formData = new FormData(this);

                // Make AJAX request
                $.ajax({
                    url: '/api/faculty', // Replace with your actual endpoint URL
                    type: 'POST',
                    data: formData,
                    contentType: false, // Don't set content type (let jQuery handle it automatically)
                    processData: false, // Don't process data (let jQuery handle it automatically)
                    success: function (data) {
                        alert(data.message)
                        if(data.success) location.reload();
                        console.log('Faculty added successfully:', data);
                        // Optionally, you can perform additional actions like displaying a success message or redirecting the user
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding faculty:', error);
                        // Optionally, you can display an error message to the user
                    }
                });
            });

            // Function to handle form submission
            $('#syllabus-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                let confirmOption = confirm("Are you sure to submit?");
                if (!confirmOption) return;

                // Get form data
                const formData = new FormData(this);

                // Make AJAX request
                $.ajax({
                    url: '/api/syllabus', // Replace with your actual endpoint URL
                    type: 'POST',
                    data: formData,
                    contentType: false, // Don't set content type (let jQuery handle it automatically)
                    processData: false, // Don't process data (let jQuery handle it automatically)
                    success: function (data) {
                        alert(data.message)
                        if (data.success) location.reload();
                        console.log('Syllabus added successfully:', data);
                        // Optionally, you can perform additional actions like displaying a success message or redirecting the user
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding syllabus:', error);
                        // Optionally, you can display an error message to the user
                    }
                });
            });
            
             // Function to handle form submission
            $('#academic-calendar-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                let confirmOption = confirm("Are you sure to submit?");
                if (!confirmOption) return;

                // Get form data
                const formData = new FormData(this);

                // Make AJAX request
                $.ajax({
                    url: '/api/academicCalendar', // Replace with your actual endpoint URL
                    type: 'POST',
                    data: formData,
                    contentType: false, // Don't set content type (let jQuery handle it automatically)
                    processData: false, // Don't process data (let jQuery handle it automatically)
                    success: function (data) {
                        alert(data.message)
                        if (data.success) location.reload();
                        console.log('Syllabus added successfully:', data);
                        // Optionally, you can perform additional actions like displaying a success message or redirecting the user
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding syllabus:', error);
                        // Optionally, you can display an error message to the user
                    }
                });
            });
             
            
            // Function to handle form submission
            $('#gallery-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                let confirmOption = confirm("Are you sure to submit?");
                if (!confirmOption) return;

                // Get form data
                const formData = new FormData(this);

                // Make AJAX request
                $.ajax({
                    url: '/api/gallery', // Replace with your actual endpoint URL
                    type: 'POST',
                    data: formData,
                    contentType: false, // Don't set content type (let jQuery handle it automatically)
                    processData: false, // Don't process data (let jQuery handle it automatically)
                    success: function (data) {
                        alert(data.message)
                        if (data.success) location.reload();
                        console.log('Gallery image added successfully:', data);
                        // Optionally, you can perform additional actions like displaying a success message or redirecting the user
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding gallery image:', error);
                        // Optionally, you can display an error message to the user
                    }
                });
            });
            
            // Function to handle form submission
            $('#paeprs-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                let confirmOption = confirm("Are you sure to submit?");
                if (!confirmOption) return;

                // Get form data
                const formData = new FormData(this);

                // Make AJAX request
                $.ajax({
                    url: '/api/paper', // Replace with your actual endpoint URL
                    type: 'POST',
                    data: formData,
                    contentType: false, // Don't set content type (let jQuery handle it automatically)
                    processData: false, // Don't process data (let jQuery handle it automatically)
                    success: function (data) {
                        alert(data.message)
                        if (data.success) location.reload();
                        console.log('Gallery image added successfully:', data);
                        // Optionally, you can perform additional actions like displaying a success message or redirecting the user
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding gallery image:', error);
                        // Optionally, you can display an error message to the user
                    }
                });
            });

        });
    </script>