<%- include('navbar') %>
<main class="container mx-auto py-12 px-6">
  <div class="mb-6">
    <img
      src="<%= event.image_link %>"
      alt="<%= event.event_title %>"
      class="object-contain w-full h-64 rounded-lg shadow-md"
    />
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mt-6">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <%= event.event_title %>
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          <%= event.event_description %>
        </p>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">
              Amount per student
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              ₹<%= event.amount %>
            </dd>
          </div>
          <div
            class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Collection Amount</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              ₹<%= collectionAmount %>
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Date</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <%= new Date(event.created_at).toLocaleDateString() %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <h4 class="mb-4 text-lg leading-6 font-medium text-gray-900">
      Payment Transactions
    </h4>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <ul class="divide-y divide-gray-200">
        <% transactions.forEach((tx)=> { if (tx.event_id === event.event_id) {
        %>
        <li class="px-6 py-4 flex space-x-3">
          <a target="_blank" href="<%= tx.image_link %>">
            <img
              class="h-20 w-20 rounded object-cover"
              src="<%= tx.image_link %>"
              alt="Payment Screenshot"
            />
          </a>
          <div class="flex-1 space-y-1">
            <div class="flex items-center justify-between">
              <h3 class="text-sm font-medium"><%= tx.student_name %></h3>
              <p class="text-sm text-gray-500">
                <%= new Date(tx.created_at).toLocaleString() %>
              </p>
            </div>
            <p class="text-sm text-gray-500">
              Semester: <%= tx.semester_id %>, Email: <%= tx.student_email %>
            </p>
          </div>
        </li>
        <% } }); %> <% if (transactions.length === 0) { %>
        <li class="px-6 py-4 text-center">
          <p class="text-sm text-gray-500">No transactions yet.</p>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</main>
