<%- include('partials/header') %>
<main class="container mx-auto px-4 py-8">
  <div class="border bg-white shadow-md mb-8">
    <div class="container mx-auto px-4 py-4">
      <nav class="text-blue-500">
        <strong>On this page:</strong>
        <ol class="ml-3">
          <li>
            <a href="#syllabus" class="hover:text-blue-700">1. Syllabus</a>
          </li>
          <li>
            <a href="#lab-manual" class="hover:text-blue-700">2. Lab Manuals</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <section id="syllabus" class="mb-12 shadow px-4 py-6 rounded-lg border">
    <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
      <h2 class="text-3xl font-bold text-blue-500">Syllabus</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Syllabus cards -->
      <!-- Repeat for each semester -->
      <% for( let i = 0; i < syllabus.length; i++ ) { %>
      <div
        class="bg-white hover:border hover:border-blue-500 rounded-lg shadow overflow-hidden"
      >
        <div class="p-4">
          <h3 class="text-xl font-bold text-gray-800">
            Semester <%= syllabus[i].semester_id %>
          </h3>
          <p class="text-gray-600"><%= syllabus[i].syllabus_title %></p>
          <a
            target="_blank"
            href="<%= syllabus[i].pdf_link %>"
            class="inline-block mt-2 bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600"
            >Download Syllabus</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </section>

  <section id="lab-manual" class="shadow px-4 py-4 rounded-lg border">
    <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
      <h2 class="text-3xl font-bold text-blue-500">Lab Manuals</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
      <% Array.from(groupedManuals).forEach(([semesterId, subjectsMap])=> { %>
      <div class="bg-white rounded-lg shadow overflow-hidden flex gap-2">
        <div class="p-4">
          <h3 class="text-xl font-bold text-gray-800">
            Semester <%= semesterId %>
          </h3>
          <div class="grid grid-cols-1 gap-2 mt-4">
            <% Object.values(subjectsMap).forEach(subject=> { %>
            <div class="bg-gray-100 rounded-lg p-2">
              <h4 class="font-bold text-gray-800">
                <%= subject.subjectCode %> - <%= subject.subjectName %>
              </h4>
              <a
                target="_blank"
                href="<%= subject.pdfLink %>"
                class="text-blue-500 hover:text-blue-600"
                >Download Manual</a
              >
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
