<%- include('partials/header') %>

    <div id="banner" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div class="banner-title">
                        <h1 class="title">YOU THINK YOU CAN</h1>
                        <p class="lead">Learning is never done without Error, and Defeat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-blue-500 p-6">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold text-white text-center mb-6">Why Our Computer Department is the Best</h2>
            <div class="flex flex-wrap justify-center gap-6">
                <!-- Card 1 -->
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="flex items-center space-x-4 p-6">
                        <span class="las la-pencil-ruler text-3xl text-blue-500"></span>
                        <div>
                            <div class="flex gap-2 items-center">
                                
                                <h3 class="font-bold text-xl">Innovative Curriculum</h3>
                            </div>
                            <p class="text-gray-600">Our curriculum is designed to foster innovation, critical thinking, and
                                hands-on experience with the latest technologies.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="flex items-center space-x-4 p-6">
                        <i class="las la-chalkboard-teacher text-blue-500 text-3xl"></i>
                        <div>
                            <h3 class="font-bold text-xl">Expert Faculty</h3>
                            <p class="text-gray-600">Learn from leading experts in the field who bring real-world experience
                                and cutting-edge research into the classroom.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="flex items-center space-x-4 p-6">
                        <i class="las la-laptop-code text-blue-500 text-3xl"></i>
                        <div>
                            <h3 class="font-bold text-xl">State-of-the-Art Facilities</h3>
                            <p class="text-gray-600">Our department boasts advanced laboratories and facilities to ensure
                                students have access to the best tools for learning and research.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-md:w-1/2 max-sm:w-full mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-center mb-8">Meet our esteemed faculty members</h1>
        <div class="flex gap-4 flex-wrap w-full justify-center">
            <% for( let i=0; i < faculty.length ; i++ ) { %>
                <div class="w-fit rounded-lg">
                    <div class="relative overflow-hidden shadow-lg rounded-lg hover:border hover:border-blue-500">
                        <div class="bg-blue-500 p-4 flex justify-center">
                            <img class="w-24 h-24 rounded-full object-contain border-4 border-white"
                                src="<%= faculty[i].image_link %>" alt="Faculty Name">
                        </div>
                        <div class="bg-white p-4">
                            <div class="text-xl font-bold text-black mb-2 text-center text-wrap	">
                                <%= faculty[i].faculty_name %>
                            </div>
                            <span><%= faculty[i].faculty_designation %></span>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <div id="news" class="bg-blue-500 py-8">
        <div class="container mx-auto">
            <h2 class="section-head text-white text-3xl font-bold mb-6 text-center">Recent News</h2>
            <div class="flex flex-wrap justify-center gap-4">
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <img class="w-full h-48 object-cover" src="img1.jpg" alt="Teacher's Day">
                    <div class="p-4">
                        <h3 class="text-xl font-semibold mb-2"><a href="#"
                                class="text-blue-700 hover:text-blue-900">Teacher's Day</a></h3>
                        <div class="text-sm text-blue-500 mb-4">September 05, 2023</div>
                        <p class="text-gray-700">"Teachers plant the seeds of knowledge that grow forever."</p>
                    </div>
                </div>
    
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <img class="w-full h-48 object-cover" src="img2.jpg" alt="Farewell Day">
                    <div class="p-4">
                        <h3 class="text-xl font-semibold mb-2"><a href="#"
                                class="text-blue-700 hover:text-blue-900">Farewell Day</a></h3>
                        <div class="text-sm text-blue-500 mb-4">February 24, 2024</div>
                        <p class="text-gray-700">"Keep pushing yourself to achieve greatness."</p>
                    </div>
                </div>
    
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <img class="w-full h-48 object-cover" src="images/WOM.jpg" alt="Women's Day">
                    <div class="p-4">
                        <h3 class="text-xl font-semibold mb-2"><a href="#" class="text-blue-700 hover:text-blue-900">Women's
                                Day</a></h3>
                        <div class="text-sm text-blue-500 mb-4">March 08, 2024</div>
                        <p class="text-gray-700">"Women are the real architects of society."</p>
                    </div>
                </div>
    
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <img class="w-full h-48 object-cover" src="images/Aura.jpg" alt="Aura">
                    <div class="p-4">
                        <h3 class="text-xl font-semibold mb-2"><a href="#"
                                class="text-blue-700 hover:text-blue-900">Aura</a></h3>
                        <div class="text-sm text-blue-500 mb-4">March 15, 2024</div>
                        <p class="text-gray-700">"A goal without a plan is just a wish."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <%- include('partials/footer') %>