<%- include('partials/header') %>

    <style>
        #banner .carousel-item img {
    max-height: 600px; /* Example max height */
    width: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image */
}
        #scrollmenu::-webkit-scrollbar {
          height: 7px;
          color: rgb(0, 119, 255);
        }
        #scrollmenu::-webkit-scrollbar-track{
          background-color: #ffffff;
          width: 2px;
          border-radius: 12px;
        }
        #scrollmenu::-webkit-scrollbar-thumb{
          background-color: #ffffff;
          border-radius: 4px;
        }
    </style>
    <div id="banner" class="">
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/slide1.jpg" class="img-thumbnail img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/slide2.jpg" class="img-thumbnail img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/slide3.jpg" class="img-thumbnail img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/slide4.jpg" class="img-thumbnail img-fluid" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-blue-500 p-6">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold text-white text-center mb-6">Why Our Computer Department is the Best</h2>
            <div class="flex flex-wrap justify-center gap-6">
                <!-- Card 1 -->
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="flex items-center space-x-4 p-6">
                        <span class="las la-pencil-ruler text-3xl text-blue-500"></span>
                        <div>
                            <div class="flex gap-2 items-center">

                                <h3 class="font-bold text-xl">Innovative Curriculum</h3>
                            </div>
                            <p class="text-gray-600">Our curriculum is designed to foster innovation, critical thinking,
                                and
                                hands-on experience with the latest technologies.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="flex items-center space-x-4 p-6">
                        <i class="las la-chalkboard-teacher text-blue-500 text-3xl"></i>
                        <div>
                            <h3 class="font-bold text-xl">Expert Faculty</h3>
                            <p class="text-gray-600">Learn from leading experts in the field who bring real-world
                                experience
                                and cutting-edge research into the classroom.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="flex items-center space-x-4 p-6">
                        <i class="las la-laptop-code text-blue-500 text-3xl"></i>
                        <div>
                            <h3 class="font-bold text-xl">State-of-the-Art Facilities</h3>
                            <p class="text-gray-600">Our department boasts advanced laboratories and facilities to
                                ensure
                                students have access to the best tools for learning and research.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-md:w-1/2 max-sm:w-full mx-auto px-4 py-8 flex flex-col items-center">
        <h1 class="text-3xl font-bold text-center mb-8">Meet our esteemed faculty members</h1>
        <div class="flex gap-4 flex-wrap w-full justify-center">
            <% for( let i=0; i < 3 ; i++ ) { %>
                <div class="w-fit rounded-lg">
                    <div class="relative overflow-hidden shadow-lg rounded-lg hover:border hover:border-blue-500">
                        <div class="bg-blue-500 p-4 flex justify-center">
                            <img class="w-24 h-24 rounded-full object-contain border-4 border-white"
                                src="<%= faculty[i].image_link %>" alt="Faculty Name">
                        </div>
                        <div class="bg-white p-4 flex flex-col gap-0 items-center">
                            <div class="text-xl font-bold text-black mb-2 text-center text-wrap	">
                                <%= faculty[i].faculty_name %>
                            </div>
                            <span class="font-bold">
                                <%= faculty[i].faculty_designation %>
                            </span>
                            <span>
                                <%= faculty[i].experience %>+ years of experience
                            </span>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <a href="/page/about#faculty"><button class="px-4 py-2 bg-blue-500 rounded shadow border my-2 text-white font-bold">View All</button></a>
    </div>

    <div id="news" class="bg-blue-500 py-8">
        <div class="container mx-auto">
            <h2 class="section-head text-white text-3xl font-bold mb-6 text-center">Recent Events</h2>
            <div class="flex flex-wrap justify-center gap-4">
            </div>
            <div id="scrollmenu" class="flex-row flex gap-4 overflow-x-scroll">
                <% for( let i=0; i < 4; i++ ) { %>
                    <div class="min-w-80 max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
                        <img class="w-full h-48 object-cover" src="<%= events[i].image_link %>" alt="Women's Day">
                        <div class="p-4">
                            <h3 class="text-xl font-semibold mb-2"><a href="#" class="text-blue-700 hover:text-blue-900">
                                    <%= events[i].event_title %>
                                </a></h3>
                            <div class="text-sm text-blue-500 mb-4">
                                <%= new Date(events[i].event_date).toDateString() %>
                            </div>
                            <p class="text-gray-700">
                                <%= events[i].event_description %>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>


        </div>
    </div>
    </div>


    <%- include('partials/footer') %>