<%- include('../partials/header') %>
<main class="container mx-auto py-12">
  <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
    <h2 class="text-3xl font-bold text-blue-500">Paid Events</h2>
  </div>
  <div class="flex flex-wrap justify-center items-center gap-8">
    <!-- Paid Events card -->
    <% for( let i=0; i < paidEvents.length; i++ ) { %>
    <div
      class="min-w-80 max-w-sm bg-white rounded-lg shadow-lg overflow-hidden my-2"
    >
      <a target="_blank" href="<%= paidEvents[i].image_link %>">
        <img
          class="w-full h-48 object-cover"
          src="<%= paidEvents[i].image_link %>"
          alt="Women's Day"
        />
      </a>
      <div class="p-4">
        <h3 class="text-xl font-semibold mb-2">
          <a href="#" class="text-blue-700 hover:text-blue-900">
            <%= paidEvents[i].event_title %>
          </a>
        </h3>
        <div class="text-sm text-blue-500 mb-4">
          <%= new Date(paidEvents[i].event_date).toDateString() %>
        </div>
        <p class="text-gray-700"><%= paidEvents[i].event_description %></p>
      </div>
      <div class="flex gap-2 justify-between items-center px-2 py-1">
        <% const payment = studentPayments.find(p => p.event_id ===
        paidEvents[i].event_id); console.log(payment) %> <% if (payment.transaction_id) { %>
        <span
          class="text-center px-2 py-2 rounded shadow bg-green-500 text-white w-full font-bold"
        >
          Paid on <%= new Date(payment.created_at).toDateString() %>
        </span>
        <% } else { %>
        <button
          class="pay-btn w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          data-event-id="<%= paidEvents[i].event_id %>"
          data-receiver-name="<%= paidEvents[i].receiver_name %>"
          data-upi-id="<%= paidEvents[i].upi_id %>"
          data-amount="<%= paidEvents[i].amount %>"
        >
          Pay
        </button>
        <% } %>
      </div>
    </div>
    <% } %>
    <!-- Paid Event Card ends -->
  </div>

  <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
    <h2 class="text-3xl font-bold text-blue-500">Events</h2>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
  >
    <% for( let i=0; i < events.length; i++ ) { %>
    <div
      class="min-w-80 max-w-sm bg-white rounded-lg shadow-lg overflow-hidden"
    >
      <img
        class="w-full h-48 object-cover"
        src="<%= events[i].image_link %>"
        alt="Women's Day"
      />
      <div class="p-4">
        <h3 class="text-xl font-semibold mb-2">
          <a href="#" class="text-blue-700 hover:text-blue-900">
            <%= events[i].event_title %>
          </a>
        </h3>
        <div class="text-sm text-blue-500 mb-4">
          <%= new Date(events[i].event_date).toDateString() %>
        </div>
        <p class="text-gray-700"><%= events[i].event_description %></p>
      </div>
    </div>
    <% } %>
  </div>
</main>

<div
  class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-auto w-full z-40"
  id="myModal"
>
  <div
    class="relative mx-auto p-2 border w-96 shadow-lg rounded-md bg-white h-fit"
  >
    <div class="mt-3 text-center">
      <div
        class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-blue-500"
      >
        <svg
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          />
        </svg>
      </div>
      <h3
        class="text-lg leading-6 font-medium text-gray-900"
        id="exampleModalLabel"
      >
        Your Payment Code
      </h3>
      <div class="mt-2 px-7 py-3">
        <p class="text-sm text-gray-500">
          Scan This Code Using Any UPI Supported App.
        </p>
      </div>
      <div class="px-4 py-3 flex-col flex sm:px-6">
        <div class="flex justify-center w-full">
          <canvas id="qrcode" class="qrcode h-48 w-48"></canvas>
        </div>
        <div class="mt-3 text-left sm:mt-0 sm:ml-4">
          <h5 class="text-lg font-medium text-gray-900">Receiver Details</h5>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              <strong>Receiver's Name: </strong><span id="recname"></span>
            </p>
            <p class="text-sm text-gray-500">
              <strong>Receiver's UPI ID: </strong><span id="recupi"></span>
            </p>
            <p class="text-sm text-gray-500">
              <strong>Amount: </strong><span id="recamt"></span>
            </p>
          </div>
          <div class="mt-4">
            <label for="paymentScreenshot">Uplaod Payment Screenshot</label>
            <input
              type="file"
              id="paymentScreenshot"
              accept="image/*"
              class="block w-full text-sm text-gray-900 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            />
          </div>
        </div>
      </div>
      <div class="flex justify-around items-center px-4 py-3">
        <button
          type="button"
          class="btn-close px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white text-base font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Close
        </button>
        <button
          type="button"
          id="submit-payment"
          class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white text-base font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

<script>
  $(document).ready(function () {
    var eventId = 0;
    $(document).on("click", ".pay-btn", function () {
      const receiverName = $(this).data("receiver-name");
      const upiId = $(this).data("upi-id");
      const amount = $(this).data("amount");
      eventId = $(this).data("event-id");

      // Set receiver details in the modal
      $("#recname").text(receiverName);
      $("#recupi").text(upiId);
      $("#recamt").text(`₹${amount}`);

      // Generate the QR code
      let qrcodeContainer = document.getElementById("qrcode");
      qrcodeContainer.innerHTML = ""; // Clear the previous QR code
      new QRious({
        element: qrcodeContainer,
        value: `upi://pay?cu=INR&pa=${upiId}&pn=${receiverName}&am=${amount}`,
        size: 200, // Size of the QR code
      });

      // Show the modal using Tailwind CSS utilities
      document.getElementById("myModal").classList.remove("hidden");
      document.getElementById("myModal").classList.add("flex");
    });

    $(document).on("click", ".btn-close", function () {
      document.getElementById("myModal").classList.add("hidden");
      document.getElementById("myModal").classList.remove("flex");
    });

    $(document).on("click", "#submit-payment", function () {
      // Get the file
      const file = document.getElementById("paymentScreenshot").files[0];
      if (!file) {
        alert("Please upload the payment screenshot");
        return;
      }

      // Get the form data
      const formData = new FormData();
      formData.append("paymentScreenshot", file);
      formData.append("eventId", eventId);

      // Send the AJAX request
      $.ajax({
        type: "POST",
        url: "/api/upload-payment-screenshot",
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          alert(response.message);
          if (response.success) location.reload();
        },
        error: function (error) {
          alert("Error in uploading the payment screenshot");
        },
      });
    });

    // Function to enable loading
    function enableLoading() {
      $("#loadingIndicator").removeClass("hidden");
    }

    // Function to disable loading
    function disableLoading() {
      $("#loadingIndicator").addClass("hidden");
    }

    // Global AJAX complete handler
    $(document).ajaxStart(function () {
      enableLoading();
    });

    // Global AJAX complete handler
    $(document).ajaxComplete(function () {
      disableLoading();
    });
  });
</script>

<%- include('../partials/footer') %>
